/*******************************
    Medium Mobile Devices
********************************/
@media (max-width: 768px){
.Navigation-logo-CTA{
        height: 17vh;
        padding: 0 35px;
        width: 100%;
    }

    .logo{
        width: 97px;
        height: 37px;
        text-align: center;
    }

    .logo a{
        font-size: 1rem;
        width: 100%;
    }

    .logo a img{
        width: 29px;
        height: 29px;
    }

    .nav{
        display: none;
        justify-content: stretch;
    }

    .nav li{
        margin: 15px 5px;
    }

    .nav li a{
        font-size: 1rem;
    }

    .CTA{
        display: none;
    }

    .humburger-container{
        display: flex;
        width: 36px;
        height: 36px;
    }

    .humburger-container i{
        color: #43485c;
        font-size: 2rem;
        width: 100%;
        height: 100%;
    }

    .humburger-container:hover{
        cursor: pointer;
    }

    .humburger-container.active .humburger-menu{
        display: none;
    }

    .humburger-container.active .remove-menu{
        display: flex;
        width: 43px;
        height: 43px;
        position: relative;
        z-index: 2;
    }

    .humburger-container .remove-menu{
        display: none;
    }

    .nav.active{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 16vh;
        left: 0;
        width: 100%;
        height: 40vh;
        background-color: #fff;
        border-bottom: transparent;
        padding: 20px;
    }
}

/*******************************
    Medium Mobile Devices
********************************/
@media (max-width: 425px){
.Navigation-logo-CTA{
        height: 17vh;
        padding: 0 30px;
    }

    .logo{
        width: 96px;
        height: 36px;
    }

    .logo a{
        font-size: 0.9rem;
    }

    .logo a img{
        width: 27px;
        height: 27px;
    }

    .humburger-container{
        width: 34px;
        height: 34px;
    }

    .humburger-container i{
        font-size: 1.9rem;
    }

    .humburger-container.active .remove-menu{
        width: 41px;
        height: 41px;
    }

    .nav.active{
        top: 16vh;
        padding: 20px;
    }
}

/*******************************
    Medium Mobile Devices
********************************/
@media (max-width: 375px){
.Navigation-logo-CTA{
        height: 16vh;
        padding: 0 40px;
    }

    .logo{
        width: 105px;
        height: 35px;
    }

    .logo a{
        font-size: 0.8rem;
    }

    .logo a img{
        width: 26px;
        height: 26px;
    }

    .humburger-container{
        display: flex;
        width: 33px;
        height: 33px;
    }

    .humburger-container i{
        font-size: 1.9rem;
    }

    .humburger-container.active .remove-menu{
        width: 40px;
        height: 40px;
    }

    .nav.active{
        top: 15vh;
        left: 0;
        padding: 40px;
        height: 50vh;
    }
}

/*******************************
    Small Mobile Devices
********************************/
@media (max-width: 320px) {
    .Navigation-logo-CTA{
        height: 15vh;
        padding: 0 30px;
    }

    .logo{
        width: 100px;
        height: 30px;
    }

    .logo a{
        font-size: 0.7rem;
        width: 100%;
    }

    .logo a img{
        width: 30px;
        height: 30px;
    }

    .humburger-container{
        width: 30px;
        height: 30px;
    }

    .humburger-container i{
        font-size: 1.8rem;
    }

    .humburger-container.active .remove-menu{
        width: 40px;
        height: 40px;
    }

    .nav.active{
        top: 15vh;
        left: 0;
        width: 100%;
        height: 50vh;
    }

    .hero-content{
        width: 100%;
        margin-top: 100px;
        padding-top: 10px 30px;
        align-items: center;
    }

    .hero-content h1{
        font-size: 1.5rem;
        line-height: 1.7;
        margin-bottom: 20px;
        width: 85%;
    }

    .hero-content p{
        margin-bottom: 50px;
        width: 85%;
    }

    .hero-btns{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .hero-btns button{
        margin-bottom: 20px;
        width: 80%;
        height: 44px;
        padding: 10px;
    }

    .hero-btns button:nth-of-type(1){
        padding: 15px;
    }


    .hero-btns button:nth-of-type(2){
        padding: 15px;
    }

    .about{
        display: flex;
        height: 100%;
    }

    .about-container{
        width: 100%;
        height: auto;
        justify-content: space-between;
        margin-bottom: 30px;

    }

    .about-header{
        padding:  0 20px;
    }

    .about-header h1{
        font-size: 1.2em;
        margin-top: 17px;
    }

    .about-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
    }

    .about-content .image{
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        height: auto;
        margin-top: 40px;
    }

    .about-content .text{
        text-align: center;
        padding: 20px;
        width: 95%;
        margin-top: 30px;
    }
}
